.App {
  text-align: center;
}
/* for mobile */
@media (max-width: 440px) {
  .container {
    display: grid;
    margin: 0 1rem;
  }
  .laptopNavBar {
    display: none;
  }
  .mobNav {
    position: fixed;
  }
  .mobileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
  }

  .hamburgerMenu .leadtext {
    display: flex;
    flex-direction: column;
    justify-items: end;
    justify-content: space-between;
  }
  .hamburgerMenu .leadtext .nav-item {
    align-self: flex-end;
  }
  .hamburgerMenu .leadtext li {
    padding: 0.5rem;
  }
  .menuIcon {
    align-self: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
  footer .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "div" "div" "div" "div";
  }
  footer img {
    width: 60%;
    object-fit: cover;
    margin: auto;
    justify-self: center;
  }
  .feature .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "featurecontent" "featureimg";
    margin: 0 2rem;
  }
  .specials .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "card" "card" "card";
    margin: 0 2rem;
  }
  .specials .title {
    display: grid;
    max-width: 400px;
    margin: 1rem auto;
    margin: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "h1" "button";
    margin: 0 2rem;
  }
  .testimonials .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "div" "div" "div" "div";
  }
  .about .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "div" "div";
    padding-left: 1rem;
  }
  .about img {
    width: 65%;
    height: auto;
    border-radius: 16px;
    margin: 1rem 1rem 2rem 1rem;
    box-shadow: 1px 1px 6px #000;
  }
  .about .image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "img" "img";
    margin-top: 3rem;
    padding-right: 0.5rem;
  }
  .reservations .container {
    grid-template-columns: 90%;
    grid-template-rows: 1fr 0.01fr;
    grid-template-areas: "div" "div";
  }
  .reservations .buttons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
/* for tablets */
@media (min-width: 441px) and (max-width: 1279px) {
  .container {
    max-width: 90vw;
    display: grid;
    margin: auto;
  }
  .laptopNavBar {
    display: none;
  }
  .mobileNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
  }

  .hamburgerMenu .leadtext {
    display: flex;
    flex-direction: column;
    justify-items: end;
    justify-content: space-between;
  }
  .hamburgerMenu .leadtext .nav-item {
    align-self: flex-end;
  }
  .hamburgerMenu .leadtext li {
    padding: 0.5rem;
  }
  .menuIcon {
    align-self: center;
    margin-right: 2rem;
    margin-top: 1.5rem;
  }
  footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "div div" "div div";
  }
  footer img {
    width: 30%;
    object-fit: cover;
    margin: auto;
    justify-self: center;
  }
  .group {
    margin: 0 1.5rem;
    display: grid;
  }
  .feature .container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "featurecontent" "featureimg";
  }
  .specials .container {
    grid-template-columns: auto auto auto;
    grid-template-areas: "div div div";
  }
  .specials .title {
    display: grid;
    margin: 1rem auto;
    margin: auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "h1 button";
  }
  .testimonials .container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "div div" "div div";
  }
  .about .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "div div";
  }
  .about img {
    width: 65%;
    height: auto;
    border-radius: 16px;
    margin: 1rem 1rem 2rem 1rem;
    box-shadow: 1px 1px 6px #000;
  }
  .about .image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "img" "img";
    margin-top: 4.5rem;
    padding-right: 0.5rem;
  }
  .reservations .container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo menu" ". menu";
  }
  .reservations .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

/* for desktops */
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    display: grid;
    margin: auto;
  }
  .mobileNavBar {
    display: none;
  }
  nav .container {
    grid-template-columns: auto auto auto;
    grid-template-areas: "logo menu menu";
  }
  nav ul {
    grid-area: menu;
    display: flex;
    list-style: none;
    text-align: right;
    justify-content: space-around;
    padding: 1rem 0;
    margin-top: 1rem;
    margin-bottom: 0;
    flex-wrap: wrap;
  }
  footer .container {
    grid-template-columns: 0.6fr 1fr 1fr 1fr;
    grid-template-areas: "div div div div";
  }
  .group img {
    width: 100%;
    height: 83%;
    object-fit: cover;
    margin: auto;
    justify-self: center;
  }
  .group {
    margin: 0 1.5rem;
    display: grid;
  }
  .feature .container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "featurecontent featureimg";
  }
  .title ~ p {
    width: 50%;
  }
  .specials .container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    grid-template-rows: auto;
    grid-template-areas: "card card card";
  }
  .title ~ p {
    width: 50%;
  }
  .specials .title {
    display: grid;
    max-width: 1200px;
    margin: 1rem auto;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "h1 button";
  }
  .testimonials .container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "div div" "div div";
    column-gap: 2rem;
  }
  .about .container {
    grid-template-columns: auto auto;
    grid-template-areas: "div div";
    column-gap: 2rem;
  }
  .title ~ p {
    width: 50%;
  }
  .about img {
    width: 65%;
    height: auto;
    border-radius: 16px;
    margin: 1rem 1rem 2rem 1rem;
    box-shadow: 1px 1px 6px #000;
  }
  .about .image {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-template-areas: "img" "img";
    margin-top: 3rem;
    padding-right: 0.5rem;
  }
  .reservations .container {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template-columns: 60% 20%;
    column-gap: 10%;
  }
  .reservations .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

/* font styles */

.leadtext {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: normal;
}
nav .leadtext {
  text-transform: uppercase;
}
.sectiontitle {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0.5rem 0;
}
.title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
.displaytitle {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  margin: 3rem 0 -21px 0;
  font-weight: normal;
  color: #f4ce14;
}

.testimonials .displaytitle {
  margin: 2rem 0 0 0;
}
.subtitle {
  font-family: "Markazi Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.cartitle {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.buttontxt {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.para {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-stretch: expanded;
}

.card .para {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

/* font styles */

.button {
  width: 220px;
  height: 50px;
  text-align: center;
  border-radius: 16px;
  box-shadow: none;
  margin: 2rem 0 2rem 0;
  border-style: none;
  cursor: pointer;
  box-shadow: 1px 1px 4px #495e5757;
}
.button.primary:hover {
  background-color: #ee9972;
}
.button.secondary:hover {
  background-color: #ee9972;
}
.button.primary:disabled {
  color: gray !important;
  cursor: not-allowed;
  background-color: #f4ce14;
}
.button.primary {
  background-color: #f4ce14;
  color: #000;
}
.button.secondary {
  background-color: #495e57;
  color: #fff;
  text-decoration: none;
}

a.button.secondary {
  padding: 0.8rem;
  margin: 0 -0.5rem 0 -0.5rem;
  font-weight: 400;
}

/* navigation bar */
nav {
  background-color: white;
  box-shadow: 1px 1px 4px #495e57;
  margin-top: -1rem;
  z-index: 100;
  width: 100%;
}

nav img {
  grid-area: logo;
  height: 60px;
  padding: 2rem 4rem 1rem 1rem;
  text-align: left;
}

nav li {
  display: inline-block;
  margin: auto 1.5rem;
}
nav a {
  color: #495e57;
  text-decoration: none;
}
nav a:visited {
  text-decoration: underline;
}
nav a:hover {
  color: #f4ce14;
  text-decoration: underline;
}
nav a:active {
  color: #000;
  text-decoration: underline;
}
nav .active {
  color: #f4ce14;
  text-decoration: underline;
  font-weight: bold;
}

/* footer */

footer {
  background-color: #495e57;
  color: white;
  margin-bottom: 0;
}

footer div {
  justify-content: space-between;
  padding: 1rem;
  text-align: left;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#textwithspace {
  padding-left: 1.5rem;
}
footer li {
  padding: 0.5rem 0;
  text-decoration: none;
}

footer a {
  color: white;
  text-decoration: none;
}
footer span {
  padding: 0.5rem;
}

footer a:visited {
  text-decoration: underline;
}
footer a:hover {
  color: #f4ce14;
  text-decoration: underline;
}
footer a:active {
  color: #000;
  text-decoration: underline;
}
footer .active {
  color: #f4ce14;
  text-decoration: underline;
  font-weight: bold;
}

/* feature */

.feature {
  background-color: #495e57;
  color: white;
  margin-top: 5rem;
}

.featurecontent {
  grid-area: featurecontent;
  margin: 0 1rem;
}

.feature img {
  width: 100%;
  height: 370px;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 1px 1px 4px #495e57;
  margin: 3em 0 -3rem -1rem;
}

/* specials */

.specials .displaytitle {
  color: #000;
  padding: 0 1rem;
}

.displaytitle ~ button {
  justify-items: left;
  margin: auto 1rem 0 auto;
}
.card {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1.8fr 0.5fr 1.9fr 1.5fr;
  grid-template-areas: "image" "div" "para" "button";
  width: auto;
  height: 450px;
  background-color: #edefee;
  border-radius: 16px;
  box-shadow: 1px 1px 4px #495e57;
  margin: 1rem 1rem 2rem 1rem;
}
.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card .cartitle {
  padding: 0 2rem;
  display: inline-block;
}

.price {
  color: #495e57;
  text-align: right;
}

.card .button {
  margin: 1rem 3rem 0 2rem;
  align-self: start;
}

.card .para {
  padding: 0 2rem;
}
/* testimonials */

.testimonials {
  background-color: #495e57;
  text-align: center;
  padding: 0 0 2rem 0;
}
.testimonials img {
  width: 79px;
  height: 79px;
  object-fit: cover;
  border-radius: 50%;
  padding: 0.5rem;
}
.testicard {
  border-radius: 16px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-areas: "div div";
  background-color: #edefee;
  color: #000;
  padding: 2rem;
  margin: 1rem 1rem 2rem 1rem;
  box-shadow: 1px 1px 6px #000;
}
.testicard .leadtext {
  margin: 0.5rem;
}

/* about */

.about .content {
  padding: 0 0.5rem;
}

#secondimg {
  justify-self: end;
  margin: -25% 0 0 0;
}

/* reservations */

.reservations {
  background-color: #edefee;
  position: relative;
  margin-top: 7rem;
}

.bookingpage {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: auto;
}
.cartitle {
  padding: 1rem 0;
}
.formContainer {
  background-color: #fff;
  padding: 0 2.5rem;
  margin: 0 1rem;
  box-shadow: 1px -1px 4px #495e5757;
}

.guestsRadio {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 1rem;
}

input[type="radio"] {
  width: 16px;
  margin: 4px;
  padding: 2px;
}
.radioLabel {
  padding: 0.5rem;
  display: block;
}

.inputBox {
  height: 40px;
  border-radius: 16px;
  background-color: #edefee;
  border-style: none;
  margin: 0.5rem -0.5rem 0rem -0.5rem;
  padding: 0 1rem;
  cursor: pointer;
}
select ~ label {
  margin-top: 1rem;
}

.container2 {
  display: grid;
  grid-template-columns: auto;
}

.dropdown:checked {
  color: #fff;
  background-color: #495e57;
}

.personalDetails .container3 {
  display: grid;
  grid-template-columns: 1fr;
}
.personalDetails {
  padding: 0.5rem;
}

.personalDetails .subtitle {
  margin: 1rem 0;
}

.container3 input {
  margin: 0;
}
.para.message {
  margin: 0;
}
.para.message.error {
  color: red;
}
.confirmation.subtitle {
  margin-top: 3rem;
}
.space {
  height: 3rem;
}

.error {
  margin-top: 9rem;
  margin-bottom: 3rem;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.error img {
  margin: 3rem auto 0 auto;
  width: 90%;
}
